.full-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #D96459; }

.welcome {
  position: relative;
  top: 40%;
  transform: translate(0, -50%); }

#nameinput {
  height: 3rem;
  font-size: 2rem; }
